// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


button,
input[type="submit"] {
  outline: none;
  border: none;
  padding: 7px 15px;
  background-color: lighten($kyk-dark-blue, 10%);  
  color: #FFF;
  font-family: "Century Gothic", Arial, sans-serif;
  @include media(0px) {
    font-size: .7rem;
  }

  @include media($kyk-medium-screen) {
    font-size: 1rem;
  }
}

// .push-info {
//   @extend button;
  
//   a {
//     color: #FFF; 
//     text-decoration: none; 
//   } 

//   @include media(0px) {
//     font-size: .7rem;
//     width: 120px;
//   }

//   @include media($kyk-medium-screen) {
//     font-size: 1rem;
//     width: 160px;
//   }
// }

#nav {
  background-color: lighten($kyk-dark-blue, 10%);  
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  font-size: 1em;
  color: $kyk-white;

  a {
    color: #FFF; 
    text-decoration: none; 
  } 
}

.kyk-login {  
  // @include span-columns(5);
  // @include shift(2);
}

#nav-logo {
  color: $kyk-white;
  @include span-columns(2);  
  text-align: left;
  width: 10%;  
  font-size: 3em;
  & > a {
    color: $kyk-white;
    text-decoration: none; 
  }
}

#nav-right {
  text-align: right;
  color: #FFF;
  @include media(0px) {
    font-size: .7rem;
  }

  @include media($kyk-medium-screen) {
    font-size: 1rem;
  }
}

body {
  font-family: "Century Gothic", Arial, sans-serif;
  background-color: lighten($kyk-white, 10%); 
 @include media(0px) {
    font-size: .7rem;
  }

  @include media($kyk-medium-screen) {
    font-size: 1rem;
  }
} 


.first-name {

  a {
    color: $kyk-white;
    text-decoration: none; 
  }
}


.new-user {
  width: 30%;
  margin: 0 auto;

  & label {
    margin-bottom: -25px;
  }
}



#main {
  margin: 10px;
} 

#search-form
{
  @include span-columns(10);  
  & > #search {
    @include span-columns(6);
    color: black;  
  }
}

#tag-search-form
{

    & > input[type="submit"] {
      float: left;
    }

  & > #search_tags {
    @include media(0px) {
      @include span-columns(4);
      color: black;
    }

    @include media($kyk-medium-screen) {
      @include span-columns(6);
    }
  }
}

.new-contacts {  
  position: absolute; 
  top: 10px; 
  right: 150px;
  width: 150px;
  // font-family: $helvetica;   

  @include media(0px) {
    font-size: .7rem;
  }

  @include media($kyk-medium-screen) {
    font-size: 1rem;
  }

  & > .new-contacts-button {
    position: relative;
    top: 0px;
    right: 0px;
    // left: 70px;
    // border: 1px solid #FFF; 
    border-bottom: 1px solid #FFF;
  }
  
  & > .new-contact-list {
    // border-bottom: 1px #FFF;
    background-color: lighten($kyk-dark-blue,20%);
    border: 4px solid lighten($kyk-dark-blue,20%);
    color: #FFF;  
    list-style-type: none;
    width: 200px;
    position: relative;
    top: 7px; 
    
    .new-contact {
      border-bottom: 1px solid lighten($kyk-dark-blue,50%); 
      margin-bottom: 2px;

    }

    .new-contact:last-child {  // neat trick
      border-bottom: none;
    }

    button {
      padding: 5px 15px;
      float: right;
      margin: 2px;
    }

    .search-buttons {
      // border: 0px;
    //   @include media(0px) {
    //     font-size: .7rem;
    //     padding: 5px 10px;
    //     // width: 200px;
    //     // position: relative;
    //     // padding-left: 50px;
    //   }
      // float: right;
      // width: 100%;
    //   @include media($kyk-medium-screen) {
    //     font-size: 1rem;
    //   }

    }


  }
}

.subnavigation {
  width: 90%;
  margin: 0 auto;
}

.subnavigation input, button, .btn {
  position: relative;
  float: left;
  text-decoration: none;
  color: white;
  height: 40px;
  border-right: 1px solid black;
}

.subnavigation button a {
  text-decoration: none;
  color: white;
}

.tag-search {
  display: none;
  float: left;
  width: 400px;
  margin-left: 20px;
}

.name-search {
  float:left;
  width: 400px;
  margin-left: 20px;
}

#search, #search_tags {
  border: none;
  -moz-box-shadow:    inset 0 0 2px $kyk-dark-blue;
  -webkit-box-shadow: inset 0 0 2px $kyk-dark-blue;
  box-shadow:         inset 0 0 2px $kyk-dark-blue;
  border-radius: 0px;
}

.new-contact-list {
  display: none;
}

#map {
  box-shadow: $kyk-blue 2px 2px 10px;
  margin: 0px auto; // css trick to center
  width: 70%; 
  min-width: 450px;
  height: 300px; // need to make it show
  margin-top: 10px;
  // border: 2px solid #2f5db5; 
  border-radius: 40px 0px 40px 0px;
  position: relative;
  margin-bottom: 30px;
  // display: none; // there is a bug

  @include media(0px) {
    display: none;
  }

  @include media($kyk-medium-screen) {
    display: block;
  }

}

#tag_cloud, #tag_cloud_push {
  width: 400px;
  line-height: 1.6em;
  margin: 0 auto;
  margin-top: 20px;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.connected {
  box-shadow: $kyk-green 2px 2px 10px;
}


.contact-field {
  // position: relative;
  // float: left;
  margin: 10px;
}


.label {
  position: relative;
  margin: 5px;
  float: left;
}


.checkbox {
  float: left;
  position: relative ;
  margin-top: -5px;
  margin-left: 10px;
}


// Modeal for pushing contacts

.modal {
  $modal-padding: 3em;
  $modal-background: $base-body-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @extend button;
    font-size: $base-font-size;
    margin-bottom: $base-line-height;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { 
// overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
    input[type="checkbox"] {
      display: inline;
    }

    .contact-field {
      float: left;
    }

    h2 {
      clear: both;
    }

    input {
      clear: both;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) 0 0);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      font-size: $base-font-size;
      max-width: 100%;
      padding: 0;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body { 
        color: $base-font-color;
        line-height: 1.45em;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;

  }
}



