// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

#nav {
  background-color: lighten($kyk-dark-blue, 10%);  
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  font-size: 1em;
  color: $kyk-white;

  a {
    color: #FFF; 
    text-decoration: none; 
  } 
}

#nav-logo {
  @include span-columns(2);
  color: $kyk-white;
  text-align: left;
  width: 10%;  
  font-size: 3em;
}

#nav-right {
  color: $kyk-white;
  text-align: right;
}

body {
  // margin: 10px;
  // font-family: $sans-serif; 
  font-family: "Century Gothic", Arial, sans-serif;

} 

#main {
  margin: 10px;
} 


.new-contacts {
  position: absolute; 
  top: 10px; 
  right: 10px;
  width: 400px;
}

.new-contact-list {
  display: none;
}


#map {
  box-shadow: $kyk-blue 2px 2px 10px;
  margin: 0 auto; // css trick to center
  width: 70%; 
  min-width: 450px;
  height: 300px; // need to make it show
  margin-top: 40px;
  // border: 2px solid #2f5db5; 
  border-radius: 40px 0px 40px 0px;
  position: relative;
  // float: right;
  margin-bottom: 60px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.connected {
  box-shadow: $kyk-green 2px 2px 10px;
  // background: green;
}

// .contacts {
//   width: 100%; 
//   height: auto;
//   text-align: left;
// }

// .contact {
//   float: left;
//   position: relative;
//   width: 250px;
//   height: 100px;
//   border: 3px solid black; 
//   margin: 5px;
//   padding: 0px 10px;
//   border-radius: 10px;
//   overflow: hidden;
//   background-color: lightblue;
//   transition: 0.5s;
// }

// .contactfullsize {
//   float: left;
//   position: relative;
//   width: 250px;
//   height: auto;
//   border: 3px solid black; 
//   padding: 0px 10px;
//   border-radius: 10px;
//   background-color: darkblue;
//   color: white;
//   transition: 0.3s;
//   margin: 5px;
// }