// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

#nav {
  background-color: lighten($kyk-dark-blue, 10%);  
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  font-size: 1em;
  color: $kyk-white;

  a {
    color: #FFF; 
    text-decoration: none; 
  } 
}

.kyk-login {  
  @include span-columns(5);
  @include shift(2);
}

#nav-logo {
  @include span-columns(2);  
  text-align: left;
  width: 10%;  
  font-size: 3em;
  & > a {
    color: $kyk-white;
    text-decoration: none; 
  }
}

#nav-right {
  color: $kyk-white;
  text-align: right;

  @include media(0px) {
    font-size: .7rem;
  }

  @include media(550px) {
    font-size: 1rem;
  }
}

body {
  font-family: "Century Gothic", Arial, sans-serif;
  background-color: lighten($kyk-white, 10%); 

} 

#main {
  margin: 10px;
} 

#search-form
{
  @include span-columns(10);  
  & > #search {
    @include span-columns(4);  
  }
}

#tag-search-form
{
  margin-bottom: 50px;
  @include media(0px) {
    font-size: .7rem;
  }

  @include media(550px) {
    font-size: 1rem;
  }


  & > #search_tags {
    @include media(0px) {
      @include span-columns(4);
    }

    @include media(550px) {
      @include span-columns(6);
    }
  }
}

.new-contacts {
  position: absolute; 
  top: 10px; 
  right: 10px;
  width: 400px;
}

.new-contact-list {
  display: none;
}

#map {
  box-shadow: $kyk-blue 2px 2px 10px;
  margin: 0 auto; // css trick to center
  width: 70%; 
  min-width: 450px;
  height: 300px; // need to make it show
  margin-top: 40px;
  // border: 2px solid #2f5db5; 
  border-radius: 40px 0px 40px 0px;
  position: relative;
  margin-bottom: 60px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.connected {
  box-shadow: $kyk-green 2px 2px 10px;
}
